.header{
    margin-top: 60px;
}
.headerTitle{
    display:flex;
    flex-direction: column;
    align-items: center;
   font-family: 'Lora', serif;
}
.headerTitleSm{
    position: absolute;
    top: 18%;
    font-size: 20px;
}
.headerTitleLg{
    position: absolute;
    top: 20%;
    font-size: 50px ;
    font-weight: 500; 
}
.headerImg{
    width:100%;
    height:600px;
    margin-top: 0px;
    object-fit: cover;
}